@font-face {
    font-family: "Monaco"; 
    src: url("./Ubuntu_Mono/UbuntuMono-Regular.ttf");
}

*{
  font-family: "Monaco";
  background-color: #28273f;
  color: white;
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.header {
  padding: 15px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
  font-size: 25px;
}

.aside {
  margin-left: 5%;
  margin-top: 10%;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: transform .2s; /* Animation */
}

.aside:hover{
    transform: scale(0.95);
}

.footer {
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.topnav {
  overflow: hidden;
  width: 100%;
}

.topnav a {
  float: left;
  text-align: center;
  width: 33%;
  height: 20%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  overflow: hidden;
  transition: transform .2s; /* Animation */
  font-size: 20px;
}

.topnav a:hover {
  overflow: hidden;
  transform: scale(1.5);
  cursor: pointer;
}

.bottomnav1 {
  overflow: hidden;
  position: fixed;
  top:85%;
  left: 35%;
  width: 15%;  
}

.bottomnav1 a {
  float: left;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  width: 100%;
  overflow: hidden;
  text-decoration: none;
  transition: transform .2s; /* Animation */
}

.bottomnav1 a:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.tooltiptext1 {
    visibility: hidden;
    position: relative;
    font-size: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    top:0%;
    left:0%;
}

.bottomnav1 a:hover .tooltiptext1{
    visibility: visible;
}

.bottomnav2 {
  overflow: hidden;
  position: fixed;
  top:85%;
  left:45%;
  width: 10%;
}

.bottomnav2 a {
  float: left;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  overflow: hidden;
  text-decoration: none;
  transition: transform .2s; /* Animation */
}

.bottomnav2 a:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.tooltiptext2 {
    visibility: hidden;
    position: relative;
    font-size: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    top:0%;
    left:0%;
}

.bottomnav2 a:hover .tooltiptext2{
    visibility: visible;
}

.bottomnav3 {
  overflow: hidden;
  position: fixed;
  top:85%;
  left:53%;
  width: 10%;
}

.bottomnav3 a {
  float: left;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  overflow: hidden;
  text-decoration: none;
  transition: transform .2s; /* Animation */
}

.bottomnav3 a:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.tooltiptext3 {
    visibility: hidden;
    position: relative;
    font-size: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    top:0%;
    left:0%;
}

.bottomnav3 a:hover .tooltiptext2{
    visibility: visible;
}

.main_image{
    height: 200px;
    width: 400px;
    position: fixed;
    top: 25%;
    left: 75%;
    margin-top: -100px;
    margin-left: -200px;
    font-size: 70px;
    float:right;
}

.fancybox{
    margin-top: 2%;
    margin-left: 5%;
}

.mainworkbody{
    position: absolute;
    top:25%;
    left: 40%;
    height: 50%;
    width: 50%;
    background: white;
    color: black;
    border-color: white;
    border-width: thick;
    font-size: 20px;
    transition: transform .2s; /* Animation */
    overflow-y:auto;
}

.mainworkbody_text{
    margin: 5%;
    background: white;
    color: black;
}

.mainworkbody:hover{
    transform: scale(1.1);
}

.worktiles1{
    height: 60%;
    width: 60%;
    font-size: 40px;
    background-color: #28273f;
    color: white;
    transition: transform .2s; /* Animation */
    border: none;
}

.worktiles1:hover{
    transform: scale(1.1);
    background-color: white;
    color: #28273f;
    cursor: pointer;
}

.left_contain{
    height: 100%;
    width: 50%;
    left:0%;
}

.div_name {
    font-size: 70px;
    float:left;
    padding-top: 10%;
    padding-left: 20%;
    transition: transform .2s; /* Animation */
}

.div_name:hover{
    transform: scale(1.1);
}

.fancy_text1{
    background-color: #28273f;
    color: white;
}

.fancy_box1{
    width: 80%;
    padding: 2%;
    margin-left: 20%;
    margin-top: 4%;
    transition: transform .2s; /* Animation */
}

.fancy_box1:hover{
    background-color: #F5F5F5;
    color: #28273f;
    box-shadow: 5px 10px #808080;
    transform: scale(1.1);
}

.fancy_box1:hover .fancy_text1{
    background-color: #F5F5F5;
    color: #28273f;
}

.div_small_a {
    font-size: 25px;
    color: #a9a9a9 ;
    float:left;
    padding-left: 20%;
    transition: transform .2s; /* Animation */
}

.div_small_a:hover{
    transform: scale(1.1);
}